<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tt.dao.LogMapper" >
  <resultMap id="BaseResultMap" type="com.tt.pojo.Log" >
    <constructor >
      <idArg column="logid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ip" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    logid, userid, time, type, detail, ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from talk_log
    where logid = #{logid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from talk_log
    where logid = #{logid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tt.pojo.Log" >
    insert into talk_log (logid, userid, time, 
      type, detail, ip)
    values (#{logid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tt.pojo.Log" >
    insert into talk_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        logid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="ip != null" >
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        #{logid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tt.pojo.Log" >
    update talk_log
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
    </set>
    where logid = #{logid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tt.pojo.Log" >
    update talk_log
    set userid = #{userid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR}
    where logid = #{logid,jdbcType=INTEGER}
  </update>
</mapper>